<!-- RMIT University Vietnam -->
<!-- Course: COSC2430 Web Programming -->
<!-- Semester: 2023A -->
<!-- Assessment: Assignment 2 -->
<!-- Author: Hoang Thai Phuc, Nguyen Hoang Minh, Tran Nguyen Anh Minh, Tran Luu Quang Tung, Dao Bao Duy -->
<!-- ID: s3978081, s3977773, s3979367, s3978481, s3978826 -->
<!-- Acknowledgement: W3School, TailwindCss, ChatGPT, Passport documentation, RemixIcons, Freepik, Web Dev Simplified -->

                            <!-- The first banner section -->
<div class="bg-gradient-to-br from-gray-200 via-slate-200 to-gray-300 rounded-md my-5 p-1">
<!-- This div contains 2 smaller divs: 1 div illustrates img in desktop view 1 div illustrates in mobile view -->
    <div class="mx-auto container py-12 px-6 xl:px-0 flex justify-center items-center flex-col">
        <div class="flex justify-between bg-gray-50 dark:bg-gray-900 items-stretch flex-row rounded-md">
                        <!-- This div contains the left box with 50% off  -->
            <div class="flex items-center bg-gray-800 dark:bg-white justify-center rounded-l-md">
                <p class="transform flex flex-shrink-0 -rotate-90 text-2xl font-semibold tracking-wide leading-normal text-white dark:text-gray-800">50% OFF</p>
            </div>
                        <!-- This div contains the left box with 50% off  -->
                        <!-- This div contains the black box with some texts -->
            <div class="flex justify-center items-start flex-col xl:w-2/5 md:w-5/12 xl:px-7 px-6 md:px-0 md:py-0 py-5 ">
                <div>
                    <p class="text-3xl font-serif xl:text-4xl font-semibold leading-9 text-gray-800 dark:text-white">Act before it’s too late!</p>
                </div>
                <div class="xl:mt-4 mt-2">
                    <p class="text-base font-mono xl:text-xl leading-7 text-gray-600 dark:text-white pr-4">Various coupons <span class="font-bold text-lg">(SALE 30%++)</span> are waiting for you.</p>
                </div>
            </div>
                        <!-- This div contains the black box with some texts -->
                    <!-- This div contains images when users resizing screen -->
            <div class="hidden md:block h-44 md:h-60 xl:h-72">
                <img class="hidden h-full xl:block rounded-r-md" src="/images/banner-image-1.jpg" alt="banner image" >
                <img class="xl:hidden h-full rounded-r-md" src="/images/banner-image-1.jpg" alt="banner image" >
            </div>
                    <!-- This div contains images when users resizing screen -->
                        <!-- This div contains image for desktop view -->
            <div class="md:hidden mt-6 w-full rounded-r-md">
                <img src="/images/banner-image-1.jpg" alt="banner-image-1" >
            </div>
        </div>
    </div>    
                        <!-- This div contains image for desktop view -->
<!-- This div contains 2 smaller divs: 1 div illustrates img in desktop view 1 div illustrates in mobile view -->
</div>
                            <!-- The first banner section -->
