<!-- RMIT University Vietnam -->
<!-- Course: COSC2430 Web Programming -->
<!-- Semester: 2023A -->
<!-- Assessment: Assignment 2 -->
<!-- Author: Hoang Thai Phuc, Nguyen Hoang Minh, Tran Nguyen Anh Minh, Tran Luu Quang Tung, Dao Bao Duy -->
<!-- ID: s3978081, s3977773, s3979367, s3978481, s3978826 -->
<!-- Acknowledgement: W3School, TailwindCss, ChatGPT, Passport documentation, RemixIcons, Freepik, Web Dev Simplified -->

                            <!-- The second banner section -->
<section class="bg-gradient-to-br from-gray-200 via-slate-200 to-gray-300 rounded-md my-5 p-1">
                            <!-- This div is the container -->
    <div class="container mx-auto py-9 md:py-12 px-4 md:px-6">
                <!-- This div contains 2 boxes for illustrating (advertisement) -->
        <div class="flex items-strech justify-center flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-6 lg:space-x-8">
                    <!-- This div contains the first box (the left one) -->
            <div class="flex flex-col md:flex-row items-strech justify-between rounded-md bg-gray-50 dark:bg-gray-800 py-6 px-6 md:py-12 lg:px-12 md:w-8/12 lg:w-7/12 xl:w-8/12 2xl:w-9/12 cursor-pointer hover:scale-105 duration-300">
                <div class="flex flex-col justify-center items-center md:w-1/2 rounded">
                    <h1 class="text-3xl lg:text-4xl font-semibold text-gray-800 dark:text-white">Best Deal</h1>
                    <p class="text-base lg:text-xl text-gray-800 dark:text-white mt-2">Save up to <span class="font-bold">50%</span></p>
                </div>
                <div class="md:w-1/2 mt-8 md:mt-0 flex flex-row items-center md:justify-end">
                    <img src="https://i.ibb.co/J2BtZdg/Rectangle-56-1.png" alt="" class="" >
                </div>
            </div>
                    <!-- This div contains the first box (the left one) -->
                    <!-- This div contains the second box (the right one) -->
            <div class="md:w-4/12 lg:w-5/12 xl:w-4/12 2xl:w-3/12 bg-gray-50 rounded-md dark:bg-gray-800 py-6 px-6 md:py-0 md:px-4 lg:px-6 flex flex-col justify-center cursor-pointer relative hover:scale-105 duration-300">
                <div class="flex flex-col justify-center">
                    <h1 class="text-3xl lg:text-4xl font-semibold text-gray-800 dark:text-white">Game Console</h1>
                    <p class="text-base lg:text-xl text-gray-800 dark:text-white">Save up to <span class="font-bold">30%</span></p>
                </div>
                <div class="flex justify-end md:absolute md:bottom-4 md:right-4 lg:bottom-0 lg:right-0">
                    <img src="https://i.ibb.co/rGfP7mp/Rectangle-59-1.png" alt="" class="md:w-20 md:h-20 lg:w-full lg:h-full" >
                </div>
            </div>
                    <!-- This div contains the second box (the right one) -->
        </div>
                <!-- This div contains 2 boxes for illustrating (advertisement) -->
    </div>
                            <!-- This div is the container -->
</section>
                            <!-- The second banner section -->