<!-- RMIT University Vietnam -->
<!-- Course: COSC2430 Web Programming -->
<!-- Semester: 2023A -->
<!-- Assessment: Assignment 2 -->
<!-- Author: Hoang Thai Phuc, Nguyen Hoang Minh, Tran Nguyen Anh Minh, Tran Luu Quang Tung, Dao Bao Duy -->
<!-- ID: s3978081, s3977773, s3979367, s3978481, s3978826 -->
<!-- Acknowledgement: W3School, TailwindCss, ChatGPT, Passport documentation, RemixIcons, Freepik, Web Dev Simplified -->

<% if (typeof errors != 'undefined' ) { %> 
    <% errors.forEach(function(error) { %>
    <p style="color: red;"><%= error.msg %></p>
    <% }) %>
<% } %>

<% if(success_msg != '') { %>
    <p style="color: green;"><%= success_msg %></p>
<% } %>

<% if(error_msg != '') { %>
    <p style="color: red;"><%= error_msg %></p>
<% } %>

<% if(error != '') { %>
    <p style="color: red;"><%= error %></p>
<% } %>


