<section class="mx-2 my-3 p-2 shadow-lg">
    <div class="flex justify-center items-center">
        <div class="2xl:mx-auto 2xl:container py-4 px-4 sm:px-6 xl:px-20 2xl:px-0 w-full">
            <div class="flex flex-col jusitfy-center items-center space-y-10">
                <div class="flex flex-col justify-center items-center ">
                    <h1 class="text-3xl xl:text-4xl font-sans font-bold italic leading-7 xl:leading-9 text-gray-800">Shop By Category</h1>
                </div>
                <div class="max-w-screen-2xl mx-auto px-4 py-16 lg:py-24 relative">
                    <div class="flex flex-col md:flex-row gap-2">
                        <div class="flex flex-1 flex-col">
                            <div class="flex flex-1 flex-col">
                                <!-- img_01 --> 
                                <img class="object-cover h-full rounded" src='/images/Nike.png' alt=''>
                            </div>
                        </div>
                        <div class="flex flex-1">
                            <div class="grid grid-cols-2 gap-2">
                              <div>
                                <!-- img_02 -->
                                <img class="object-cover h-full rounded" src='/images/Adidas.png' alt=''>
                              </div>
                              <div>
                                <!-- img_03 -->
                                <img class="object-cover h-full rounded" src='/images/Puma.png' alt=''>
                              </div>
                              <div>
                                <!-- img_04 -->
                                <img class="object-cover h-full rounded" src='/images/Kappa.png' alt=''>
                              </div>
                              <div>
                                <!-- img_05 -->
                                <img class="object-cover h-full rounded" src='/images/TNF.png' alt=''>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
